
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>快科技(原驱动之家)手机版</title>
    <link href="/static/index/css/main.min_2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/index/js/trimpath-template-1.0.38.min.js"></script>
        <script type="text/javascript" src="/static/index/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div id="fixed" ></div>
        <div class="box">
        <!--title-->
        <div id="header_er">
            <div class="ehome"><a href="/"><img src="/static/index/picture/home_icon.png" width="24" height="24"></a></div>
            <div class="eme"><a href="">{$catename[0]}</a></div>
            <div class="eloginbar"><img src="/static/index/picture/icon.png" width="20" height="22"></div>
        </div>
        <div class="news_content">
            <div class="news_t"><a href="{:url('News/index',array('id'=>$news.id))}">{$news.title}</a></div>
            <div class="news_t1">
                <ul>
                    <li>{$news.admin}</li>
                    <li>|</li>
                    <li>{$news.time}</li>
                </ul>
            </div>
        </div>

        <div class="pinlun_title">
            <ul>
                <li id="li_comments1" {switch name="$style"}
                    {case value="1"}class="act"{/case}
                {/switch}><a href="{:url('Comment/index',array('id'=>$news.id))}">最新评论</a></li>
                <li id="li_comments2"{switch name="$style"}
                    {case value="2"}class="act"{/case}
                {/switch} ><a href="{:url('Comment/hot',array('id'=>$news.id))}">最热评论</a></li>
                <li id="li_comments3" ><a href="{:url('Comment/me',array('id'=>$news.id))}">我的评论</a></li>
                <li style="float:right;" id="li_new">
                    <div class="new_box">
                        <div class="new wri_t">新</div>
                        <div class="old  wri_bg">旧</div>
                    </div>
                </li>
                <li id="li_old" style="display: none;float:right;">
                    <div class="new_box">
                        <div class="new wri_bg ">新</div>
                        <div class="old wri_t">旧</div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="MyComments" class="pinlun">
{volist name="comments" id="vo"}
         <div class="plunxx">
            <div class="plunxx_top">
                <div class="plunxx_top1">1#<span name="regUserColor_UserName"> {$vo.user_id}</span>
                    <span>定位</span>
                </div>
                <div class="plunxx_top3"><div title="这条评论有问题，小编快来和谐它" onclick="" style="padding-right:0px;" class="plunxx_bottom_fdui"><span id="span_jubao_31383573" style="color:red;">举报</span></div> </div>
            </div>

            <div class="plunxx_center">
                {$vo.content}
                <div style="clear: both"></div>
            </div>
            <div class="plunxx_bottom">
                <div class="plunxx_bottom_time">{$vo.time}</div>
                <div onclick="ShowReply('{$vo.user_id}')" class="plunxx_bottom_fyan">回复</div>
                <div id="o_31383573" onclick="javascript:sndReq(1,'{$vo.id}',0);" class="plunxx_bottom_fdui">反对[{$vo.oppose}]</div>
                <div id="s_31383573" onclick="sndReq(1,'{$vo.id}',1)" class="plunxx_bottom_ztong">支持[{$vo.support}]</div>
            </div>
            <div id="div_reply_31383573">
        </div>
        </div>
{/volist}
        </div>
            <script>
                function sndReq(userid,commentid,attitude) {
                    $.ajax({
                        type: 'POST',
                        url: '{:url(\'index/Comment/attitude\')}',
                        datatype:'json',
                        data:{"userid":userid,'commentid':commentid,'attitude':attitude},
                        success: function(data){
                            alert(data);
                        },
                        error:function(data) {
                            console.log(data.msg);
                        },
                    });

                }
            </script>


        <div class="plun_s">
           <div id="div_reply_0"></div>
        </div>
            <div class="fh_top" id="gotop"><img src="/static/index/picture/fh_top.png" width="36" height="36"></div>
            <script type="text/javascript">

                var commentorderby = "new";
                var page = 1;
                var stoploading = false;


                $("#more_comments").click(function () {
                    if ($("#hiddenType").val() == "2") {
                        return;
                    }
                    $(this).html("加载中...");
                    if (stoploading == false) {
                        page++;
                        GetComments(page);
                        $(this).html("点击加载更多...");
                    }
                });

                $("#li_new").click(function () {
                    $(this).hide();
                    $("#li_old").show();
                    commentorderby = "old";
                    GetComments(1);
                });

                $("#li_old").click(function () {
                    $(this).hide();
                    $("#li_new").show();
                    commentorderby = "new";
                    GetComments(1);
                });

                $("#gotop").click(function () {
                    window.scrollTo(0, 1);
                    $("#gotop").hide();
                });
                $(window).scroll(function () {
                    if ($(".plun_s").offset().top < window.scrollY + window.innerHeight) {
                        $("#gotop").show();
                    }
                    if ($(this).scrollTop() > 0) {
                        //$("#gotop").show();
                    }
                    else { $("#gotop").hide(); }
                });
    </script>

<div class="footer">
    <a href="">首页</a> |<a href="">Pad版</a> | <a href="">客户端</a> | <a href="#">个人中心</a><p></p>
    <span>京公网安备：<a href="">11010502022785号</a>　京文网文【2017】2380-251号    <a href="">京ICP备11024344号-7</a> 京ICP证110954号  猎豹移动·版权所有</span>
</div>

</div>

</body>
</html>